<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <div>
            <form action="#" th:action="@{/login}" method="POST">
                <div>
                    <span th:if="${param.error}">Invalid username or password</span>
                </div>
                <div>
                    <span th:text="${loggedOut}"></span>
                </div>
                <label for="username">username: </label>
                <input type="text" id="username" name="username" maxlength="20" required autofocus> <br>
                <label for="password">password: </label>
                <input type="password" id="password" name="password" maxlength="20" required>
                <input type="submit">
            </form>
        </div>
        <div>
            <a href="/signup">Click to Signup</a>
        </div>
    </body>
</html>