<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <div>
            <h3>Kindly Register to signup</h3>
            <form action="#" th:action="@{/signup}" th:object="${userObject}" method="post">
                <label for="username">username</label> <br>
                <input type="text" id="username" th:field="*{username}" autofocus placeholder="username"> <br>
                <label for="password">password</label> <br>
                <input type="password" id="password" th:field="*{password}"> <br>
                <label for="firstname">firstname</label> <br>
                <input type="text" id="firstname" th:field="*{firstname}" placeholder="John"> <br>
                <label for="lastname">lastname</label> <br>
                <input type="text" id="lastname" th:field="*{lastname}" placeholder="Smith"> <br>
                <input type="submit">
            </form>
        </div>
    </body>
</html>